---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Acerca de mi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Quiero ser progamador y Back-end developer.
      <br />
      Las herramientas que quiero aprender a usar:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>Astro</li>
        <li>Tailwind CSS</li>
        <li>Node.js</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Mas alla de la programacion, me interesa el mundo de la creacion de video
      juegos, me parece interesante saber el como funciona y como esta
      estructurado su proceso, aunque no quisiera ser desarrollador de video
      juegos(xD)
    </p>
    <p class="text-sm font-light">
      A parte de eso, mi mejor pasatiempo es disfrutar Peliculas de genero
      variado con prioridad en las de Terror 😈
    </p>
  </div>
</Card>
